.iconHome {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M21 13v10h-6v-6H9v6H3V13H0L12 1l12 12h-3zm-1-6V2h-3v2l3 3z'/%3E%3C/svg%3E");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}

#content {
	width: 50vw;
	margin: 5vh auto;
	font-size: 0.6rem;
	line-height: 1.3;
	color: #ddd;
}

#content > * {
	margin: 0 0 1.5rem 0;
}

#content ul {
	padding: 0 0 0 2rem;
}

#backToHome {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(20, 20, 20);
	top: 1rem;
	right: 1rem;
	border-radius: 500px;
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 0.25rem rgb(0, 0, 0);
	cursor: pointer;
}




@media screen and (max-width: 1023px) {

    #content {
        width: 70vw;
    }

}
